.nav {
  height: 50px;
  padding: 5px 10px;
  position: sticky;
  top: 0px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.nav__link{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 36px;
  border-radius: 10px;
  border: 1px solid #ffffff;
  transition: 0.3s;
  color: white;
  text-decoration: none;
  font-weight: bold;
  margin-left: 10px;
}

.nav__link:hover{
  background-color:#ffffff;
  color: rgba(0, 174, 255, 0.755);
}