body {
  background-color: rgba(0, 174, 255, 0.755);
  font-family: 'Roboto', sans-serif;
  margin: 0px;
}

.content {
  margin: auto;
  width: 80%;
  display: flex;
  justify-content: center;
}

.content__placeholder {
  color: white;
  font-size: 25px;
  width: 400px;
  font-weight: bold;
  white-space: break-spaces;
}