body {
  background-color: rgba(0, 174, 255, 0.755);
  font-family: 'Roboto', sans-serif;
  margin: 0px;
}

.content {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.content__intro {
  color: white;
  font-size: 25px;
  width: 400px;
  font-weight: bold;
  white-space: break-spaces;
}

.content__sign-up {
  background-color: #ffffff;
  color: rgba(0, 174, 255, 0.755);
  width: 80px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  font-weight: bold;
  border-radius: 10px;
}
