body {
  background-color: rgba(0, 174, 255, 0.755);
}

.content{
  background-color: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 400px;
  height: 300px;
  box-shadow: 0px 0px 20px rgb(0, 0, 0, 0.6);
  border-radius: 10px;
  margin: 50px auto;
  padding: 15px;
  font-family: 'Roboto', sans-serif;
}

.content__title {
  margin: 0px 0px 40px 0px;
}

.form {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 5px 0px;
  margin-bottom: 30px;
}

.form__input {
  width: 250px;
  height: 40px;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid rgb(82, 82, 82);
  border-radius: 10px;
  font-family: inherit;
  box-sizing: border-box;
}

.form__actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.form__submit {
  margin: 10px 0px;
  padding: 5px;
  width: 80px;
  height: 40px;
  border: none;
  border-radius: 10px;
  transition: 0.3s;
  background-color: rgb(223, 223, 223);
  cursor: pointer;
}

.form__sign-up {
  text-decoration: none;
  font-size: 15px;
  margin-right: 5px;
}

.form__submit:hover {
  background-color: rgb(177, 177, 177);
}

.form-el__label, .select {
  font-family: 'Roboto', sans-serif;
}

.form__error {
  position: absolute;
  top: -25px;
  right: -30px;
  width: 300px;
  color: red;
}